.site-branding{
	width: 50px;
}

/*.header-menu{
	display: none;
}*/

.case-box{
    margin-bottom: 20px;
}
.service-icon{
	margin-left: 50%;
    transform: translate(-50%);
}

.main-service-box{
	min-height: 340px;
}

.blog-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-img img{
    width: 50%;
}

.blog-content h3{
	min-height: 70px;
    font-size: 20px;
    padding-bottom: 0px;
}

.blog-img-custom{
	padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 24px;
    display: block;
    background: #dfdfdf;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(.215,.61,.355,1),box-shadow .3s cubic-bezier(.215,.61,.355,1);
    border: none;
    color: rgba(0,0,0,.85);
    transition: box-shadow .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1)
}

.blog-img-custom span{
	width: 100%;
    height: 160px;
    display: block;
    background: #fff;
    padding: 5%;
}

.blog-img-custom .span-hinh{
	width: 100%;
    height: 240px;
    display: block;
    background: #e9e9e9;
    padding: 10px;
}

.blog-img-custom span img {
	vertical-align: middle;
    border-style: none;
    height: 100%;
    width: auto;
}

.blog-img-custom .span-hinh img {
	vertical-align: middle;
    border-style: none;
    height: 100%;
    width: auto;
}

.blog-img-custom-1{
	padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 24px;
    display: block;
    background: #dfdfdf;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(.215,.61,.355,1),box-shadow .3s cubic-bezier(.215,.61,.355,1);
    border: none;
    color: rgba(0,0,0,.85);
    transition: box-shadow .3s cubic-bezier(.215,.61,.355,1),transform .3s cubic-bezier(.215,.61,.355,1)
}

.blog-img-custom-1 span{
	width: 100%;
    height: 600px;
    display: block;
    background: #fff;
    padding: 20px;
}

.blog-img-custom-1 span img {
	vertical-align: middle;
    border-style: none;
    height: 100%;
    width: auto;
}
.main-footer{
	padding-top: 0px;
}

.copyright-bg{
	margin-top: 20px;
}

.main-testimonial-box{
	min-height: 265px;
}

.clinet-img{
	width: 100px;
    height: 100px;
    border: 4px solid #d1d1d1;
    border-radius: 50%;
    box-shadow: 10px 10px 60px 0px rgb(0 0 0 / 12%);
    margin:  auto;
    bottom: -50px;
}

.clinet-img img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-custom{
	min-height: 360px;
}

.clinet-img-custom{
	width: 180px;
    height: 140px;
    border: 4px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 10px 10px 60px 0px rgb(0 0 0 / 12%);
    margin: auto;
    bottom: -50px;
    position: absolute;
    overflow: hidden;
}

.clinet-img-custom img{
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-img img{
	min-height: 380px;
    object-fit: cover;
}

.case-img{
	height: 400px;
}

.case-img img{
	height: 100%;
    object-fit: cover;
}

.case-p-text{
	color: #fff;
}

.main-services{
	padding-bottom: 100px;
}
.main-counter{
	padding-top: 100px;
}

.blog-slider .col-lg-3{
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    .blog-img-custom-1 span{
        height: 204px;
    }
    .blog-img-custom span img{
        margin-left: 50%;
        transform: translate(-50%);
    }
}

.counter-text{
    position: relative;
}

.span-usd{
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 65px;
    font-size: 22px;
    font-weight: 600;
}

.main-events{
    margin: auto;
    max-width: 400px;
    background-color: white;

    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 88%);
}

.event-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.event-title{
    font-size: 20px;
    font-weight: 600;
    color: #131730;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-des{
    margin-top: 10px;
    font-size: 16px;
    color: #777;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-event{
    margin-top: 50px;
    margin-bottom: 50px;
}

.h3-title{
    border-left: 5px solid #d41516;
    padding-left: 20px;
}

.event-time{
    font-size: 20px;
    opacity: 0.5;
    float: right;
    font-weight: 600;
}

.event-img-banner{
    width: 100%;
    height: 390px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 20px;
}

.event-img-item{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.event-des-item{
    margin-top: 5px;
    font-size: 14px;
    color: #777;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-title-item{
    font-size: 18px;
    font-weight: 600;
    color: #131730;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-time-item{
    font-weight: 600;
    color: #131730;
    font-size: 11px;
    float: right;
}

.event-related{
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f0f0f0;
}

.event-item-home{
    padding: 15px;
}

.loader-image{
    margin-top: 130px;
    margin-left: 50%;
    transform: translate(-50%);
}

.div-title{
    margin-top: 80px;
}

.div-title-right{
    margin-top: 80px;
    text-align: right;
}

.title-h{
    color: #c10c3f;
    font-family: 'lg-font-bold', serif;
    font-weight: 600;
    font-size: 56px;
}

.title-sub{
    color: #c10c3f;
    font-family: 'lg-font', serif;
    font-weight: 600;
    font-size: 24px;
}

.line{
    background-color: #c10c3f;
    height: 5px;
    width: 140px;
    border: 1px;
    margin: 20px 0px;
}

.line-right{
    background-color: #c10c3f;
    height: 5px;
    width: 140px;
    border: 1px;
    margin: 20px 0px;
    float: right;
}

.title-des{
    font-family: 'lg-font', serif;
    font-style: italic;
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.title-des-right{
    font-family: 'lg-font', serif;
    font-style: italic;
    width: 100%;
    margin-top: 50px;
    text-align: left;
    font-size: 20px;
}

.title-h-1{
    color: #c10c3f;
    font-family: 'lg-font', serif;
    font-weight: 600;
}

.title-sub-1{
    color: #c10c3f;
    font-family: 'lg-font-bold', serif;
    font-weight: 600;
    font-size: 30px;
}

.title-des-1{
    font-family: 'lg-font', serif;
    font-style: italic;
    width: 100%;
    margin-top: 50px;
    text-align: left;
    font-size: 20px;
}

.services-img1{
    width: 77%;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 40px;
    opacity: 0;
    transform: translateX(300px);
}

.services-img2{
    position: absolute;
    z-index: 2;
    width: 54%;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    transform: translateY(300px);
}

.services-img3{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    position: absolute;
    top: -150px;
    opacity: 0;
    transform: translateX(-300px);
}

.services-img4{
    width: 73%;
    margin: auto;
    margin-top: 40px;
    opacity: 0;
    transform: translateX(300px);
}

.services-img5{
    width: 66%;
    position: absolute;
    z-index: 2;
    right: 0px;
    opacity: 0;
    transform: translateX(300px);
}

.services-img6{
    position: absolute;
    z-index: 1;
    width: 66%;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    transform: translateY(300px);
}

.services-img7{
    margin-top: -40px;
    opacity: 0;
    transform: translateY(400px);
}

.services-img8{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}

.services-img88{
    opacity: 0;
    transform: translateY(300px);
}

.services-img9{
    position: absolute;
    width: 76%;
    left: -130px;
    top: 0px;
    opacity: 0;
    transform: translateX(300px);
}

.services-img10{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    opacity: 0;
    transform: translateX(-300px);
}

.services-img11{
    width: 70%;
    position: absolute;
    right: 0px;
    top: 50px;
    opacity: 0;
    transform: translateX(300px);
}

.img-product{
    opacity: 0;
    transform: translateY(300px);
}

.btn-product{
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 5px 15px;
    background-color: #c10c3f;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.form-text{
    text-align: center;
    font-size: 20px;
    color: #2c2c2c;
}

.form-input{
    width: 100%;
}

.btn-form{
    display: inline-block;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 10px 20px;
    background-color: #c10c3f;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;
}

.services-div{
    position:relative;
    min-height: 600px;
    overflow: hidden;
}

.services-1-div{
    position: relative; 
    min-height: 950px;
}

.services-2-div{
    position: relative; 
    min-height: 600px;
    overflow: hidden;
}

.h2-big{
    font-size: 56px;
}

.table-div{
    position: relative;
    min-height: 700px;
    padding-top: 300px;
}
.mobile{
    display: none;
}

@media screen and (max-width: 991px){
    .main-banner{
        padding-top: 64px;
    }
    .main-services{
        padding-top: 0px;
    }
    .div-title{
        margin-top: 20px;
    }
    .title-h{
        font-size: 30px;
    }
    .title-sub{
        font-size: 16px;
    }
    .title-des{
        font-size: 14px;
    }
    .services-div {
        min-height: 350px;
    }
    .services-img3{
        top: -95px;
        left: 50px;
    }
    .services-1-div{
        min-height: 550px;
    }
    .div-title-right{
        margin-top: 20px;
    }
    .title-des-right{
        font-size: 14px;
    }
    .main-services-1{
        padding-bottom: 40px;
    }
    .main-counter {
        padding-top: 10px;
    }
    .services-2-div{
        margin-top: 20px;
        min-height: 280px;
    }
    .h2-big{
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 10px;
    }
    .title-h-1{
        font-size: 18px;
    }
    .title-sub-1{
        font-size: 16px;
    }
    .title-des-1{
        font-size: 16px;
    }
    .services-img7{
        margin-top: 0px;
    }
    .table-div{
        min-height: 400px;
        padding-top: 200px;
    }
    .services-img9{
        left: 30px;
    }
    .none_mobile{
        display: none;
    }
    .mobile{
        display: block;
    }
    .main-ia{
        background-image: none;
    }
    .services-img10{
        width: 60%;
        margin-top: 20px;
    }
    .services-img11{
        width: 65%;
        right: -10px;
        top: 25px;
        position: relative;
    }
    .services-img12{
        width: 50%;
        margin: auto;
        margin-top: 130px;
    }
    .main-product{
        padding-top: 30px;
    }
    .item-product{
        margin-bottom: 30px;
    }
}


@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
    .services-div{
        min-height: 650px;
    }
    .services-2-div{
        min-height: 650px;
    }
    .div-title-services{
        margin-top: 230px;
    }
}

@media (min-width: 1900px){
    .container{
        max-width: 1700px;
    }
    .services-div{
        min-height: 800px;
    }
    .services-1-div{
        min-height: 950px;
    }
    .services-2-div{
        min-height: 800px;
    }
    .div-title-services{
        margin-top: 270px;
    }
    .services-img3{
        top: -320px;
    }
}
